@page "/AtdUnits"

@using CDPN.Classifiers.Client.Models;

<h4>@Localizer["Title"]</h4>

<Atd />

<div class="table scroll mt-2">
    <Table TItem="AtdUnit" IsPagination="true" PageItemsSource="@PageItemsSource" RenderMode="TableRenderMode.Table"
           IsStriped="true" IsBordered="true" UseInjectDataService="true" OnQueryAsync="OnQueryAsync" >
        <TableColumns>
            <TableColumn @bind-Field="@context.Id" Text="Id" Sortable=true Filterable=true ></TableColumn>
            <TableColumn @bind-Field="@context.ParentId" Text="@Localizer["TableFieldParentId"]" Sortable=true Filterable=true ></TableColumn>
            <TableColumn @bind-Field="@context.AtdLevelId" Text="@Localizer["TableFieldAtdLevelId"]" Sortable=true Filterable=true ></TableColumn>
            <TableColumn @bind-Field="@context.AtdCategoryId" Text="@Localizer["TableFieldAtdCategoryId"]" Sortable=true Filterable=true ></TableColumn>
            <TableColumn @bind-Field="@context.Name" Text="@Localizer["TableFieldName"]" Sortable=true Filterable=true ></TableColumn>
        </TableColumns>
    </Table>
</div>
