@page "/Currencies"

@using CDPN.Classifiers.Client.Models;

<h4>@Localizer["Title"]</h4>

<div class="table scroll">
    <Table TItem="Currency" IsPagination="true" PageItemsSource="@PageItemsSource" RenderMode="TableRenderMode.Table"
           IsStriped="true" IsBordered="true" UseInjectDataService="true" OnQueryAsync="OnQueryAsync" >
        <TableColumns>
            <TableColumn @bind-Field="@context.Id" Text="Id (Alpha3)" Sortable=true Filterable=true ></TableColumn>
            <TableColumn @bind-Field="@context.NumericCode" Text="@Localizer["TableFieldNumericCode"]" Sortable=true Filterable=true></TableColumn>
            <TableColumn @bind-Field="@context.MinorUnit" Text="@Localizer["TableFieldMinorUnit"]" Sortable=true Filterable=true ></TableColumn>
            <TableColumn @bind-Field="@context.Group" Text="@Localizer["TableFieldGroup"]" Sortable=true Filterable=true></TableColumn>
            <TableColumn @bind-Field="@context.Name" Text="@Localizer["TableFieldName"]" Sortable=true Filterable=true></TableColumn>
        </TableColumns>
    </Table>
</div>
