@page "/Currencies"

@using CDPN.Classifiers.Client.Models;

<h4>Валюты согласно ISO 4217</h4>

<div class="table scroll">
    <Table TItem="Currency" IsPagination="true" PageItemsSource="@PageItemsSource" RenderMode="TableRenderMode.Table"
           IsStriped="true" IsBordered="true" UseInjectDataService="true" OnQueryAsync="OnQueryAsync" >
        <TableColumns>
            <TableColumn @bind-Field="@context.Id" Text="Id (Alpha3)" Sortable=true Filterable=true ></TableColumn>
            <TableColumn @bind-Field="@context.NumericCode" Text="Код (NumericCode)" Sortable=true Filterable=true></TableColumn>
            <TableColumn @bind-Field="@context.MinorUnit" Text="ДР" Sortable=true Filterable=true ></TableColumn>
            <TableColumn @bind-Field="@context.Group" Text="Группа" Sortable=true Filterable=true></TableColumn>
            <TableColumn @bind-Field="@context.Name" Text="Наименование" Sortable=true Filterable=true></TableColumn>
        </TableColumns>
    </Table>
</div>
