@page "/"
@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Localization
@inject IConfiguration Configuration
@inject IStringLocalizer<Index> Localizer

<h4>@Localizer["PageTitle"]</h4>


<div class="row g-3">
    <div class="card-group">
        <div class="card text-center shadow-sm mx-2">
            <div class="card-body">
                @((MarkupString)Localizer.GetString("PageDescription", openApiDocumentUrl).Value)
            </div>
        </div>
    </div>
</div>

<div class="row g-3 mt-2">
    <div class="card-group">
        <div class="card text-center shadow-sm mx-2">
            <div class="card-body">
                @((MarkupString)Localizer["CardUIFrameworkBody"].Value)
            </div>
        </div>
        <div class="card text-center shadow-sm mx-2">
            <div class="card-body">
                @((MarkupString)Localizer["CardUIComponentsBody"].Value)
            </div>
        </div>
    </div>
</div>

<div class="row g-3 mt-2">
    <div class="card-group">
        <div class="card text-center shadow-sm mx-2">
            <div class="card-body">
                @((MarkupString)Localizer["CardDevelopmentPlatformBody"].Value)
            </div>
        </div>
        <div class="card text-center shadow-sm mx-2">
            <div class="card-body">
                @((MarkupString)Localizer["CardRuntimeBody"].Value)
            </div>
        </div>
        <div class="card text-center shadow-sm mx-2">
            <div class="card-body">
                @((MarkupString)Localizer["CardDatabaseBody"].Value)
            </div>
        </div>
    </div>
</div>

@code {
    private string openApiDocumentUrl;

    protected override async Task OnInitializedAsync() => 
        openApiDocumentUrl = Configuration.GetValue<string>("ApiGatewayClassifiers:OpenApiDocumentUrl");

}
